*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-100: #e0deff;
    --grey-900: #0f172a;
    --black: #222;
    --white: #fff;
    --transition: 0.3s ease-in-out all;
    --shadow-1: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    --shadow-2: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

body {
    background-image: linear-gradient(to bottom, 
    #71eeff, #38a5b3, #228d9b, #2ca38bcb, #099f81, #3a7a6e, #065747, #115749, #071a3c);
    padding: 1rem;
}
p {
    color: #023535;
    line-height: 1.5;
}

ol {
    list-style-position: inside;
    padding-inline-start: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px

}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-block: 2rem;
}
h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;

}

img {
    width: 100%;
    height: 100%;
}
/* End of global rules */


/* Starting Custom rules */
header {
    padding: 5rem 0;
    place-items: center;
    gap: 2rem;
    min-height: 60vh;
    max-width: 1120px;
    margin-inline: auto;
}

.img-container {
    margin-bottom: 5rem;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-inline: auto;
}

.img-container img {
    border-radius: 50%;
    transform: translate(-5px, -40px) scale(1.5);
}


/* Buttons */
.btn,button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--white);
    background: var(--primary-500);
    border: none;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: .375rem .75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize
}

.btn:hover,button:hover {
    color: var(--white);
    background: var(--primary-700);
    box-shadow: var(--shadow-2)
}

.hero-btn {
    display: inline-block;
    background: var(--primary-design);
    border: 2px solid var(--primary-design);
    color: var(--black-design);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.75rem 1.25rem;
    box-shadow: var(--shadow-1);
    animation: 2s ease 0s infinite normal none running bounce;
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
    
}

.hero-btn:hover {
    background: transparent;
    box-shadow: var(--shadow-2);
    color: var(--primary-design);
}


/* Apps and cards */
.title {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.apps {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) !important;
    max-width: 1120px;
    margin-inline: auto;
}


.card {
    border-radius: var(--borderRadius);
    background: var(--white);
    box-shadow: var(--shadow-1);
    transition: var(--transition);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
}

figure img {
    height: 15rem;
}

figcaption {
    text-align: center;
    padding: 1rem 1.25rem;
    background: var(--white);
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    margin-bottom: 0px;
    color: var(--grey-900);
    font-weight: 500;
}

figcaption h4 {
    margin-bottom: 0;
}



@media (min-width: 700px) {
    h1 {
        text-align: start;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@-webkit-keyframes bounce {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

@keyframes bounce {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}